.form{
    border: 1px solid rgb(41, 77, 46);
    margin-top: 80px;
    border-radius: 10px;
    padding: 40px;
    min-height: 180px;
    box-shadow: 5px 5px 10px rgb(41, 77, 46);
    background-color: rgb(226, 249, 232);
    min-width: 50%;
}

.formTitle{
    letter-spacing: 0.1rem;
    margin-bottom: 20px
}

.inputsWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label{
    margin-top: 30px;
    font-size: 1.2rem;
}

.input{
    padding: 8px;
}

.infoTextWrapper{
    display: flex;
    justify-content: center;
}

.infoText{
    position: absolute;
}

.greenText{
    color: rgb(60, 167, 74)
}

.redText{
    color: rgb(192, 52, 52)
}