.skillCards{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
}

@media only screen and (max-width: 768px) {
    .skillCards{
        grid-template-columns: 1fr 1fr;
    }
  }

@media only screen and (max-width: 490px) {
    .skillCards{
        grid-template-columns: 1fr;
    }
  }