.submitBtn{
    padding: 12px 24px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(135, 206, 154);
    border: 0;
    cursor: pointer;
    margin: 40px auto 15px;
    text-transform: capitalize;
    display: block;
    transition: background-color 0.5s;
    border: 1px solid rgb(41, 77, 46); 
}

.submitBtn:hover{
    background-color: rgb(37, 165, 71);
    transition: background-color 0.5s; 
}
.submitBtn:active{
    background-color: rgb(26, 94, 43)
}

@media only screen and (max-width: 330px) {
    .submitBtn{
        margin-bottom: 0;
    }
  }